{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container d-flex justify-content-center">
    <div class="card p-5 shadow-lg p-3 mb-5 bg-white rounded mt-2"
    style="width: 60rem;"
    >
    <div class="card-ttile">New Category:</div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %} 
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-3">Save</button>
            <a href="{% url "category-list" %}" class="btn btn-secondary mt-3 text-decoration-none">Cancel </a>
        </form>
    </div>
   </div>
</div>
{% endblock %}