{% extends 'base.html' %} {% load crispy_forms_tags %} {% block body %}

<div class="container p-4">
  <div
    class="card p-5 shadow-lg p-3 mb-5 bg-white rounded"
    style="width: 100%"
  >
    <div class="card-ttile">User Profile:</div>
    <div class="card-body">
        <form method="Get">
            {% csrf_token %} {{ form|crispy }}
            <table class="table table-striped text-center">              
              <tr>
                <td>Firstname</td>
                <td>{{user.first_name}}</td>
              </tr>
              <tr>
                <td>Lastname</td>
                <td>{{user.last_name}}</td>
              </tr>
              <tr>
                <td>Username</td>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <td>Date Joined</td>
                <td>{{user.date_joined}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{% if user.status == True %} Active {% else %} Inactive {% endif %}</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>{% if user.is_staff %}
                  Staff
                  {% elif user.is_admin %}
                  Admin
                  {% elif user.is_superuser %}
                  Super Admin
                  {% else %}
                  Not Available
                  {% endif %}</td>
              </tr>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'update-profile' user.id %}" class="btn btn-primary float-end text-decoration-none">Update</a>
                <a href="{% url 'update_password' %}" class="btn btn-secondary float-end text-decoration-none">Update Password</a>
            </div>
          </form>
    </div>
  </div>
</div>
{% endblock %}