{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 p-0" style="font-size: 12px;">
  <div class="card p-5 shadow-lg p-3 mb-5 bg-white rounded" style="width: 70rem;">
  <a href="{% url 'orders-add' %}" class="btn btn-primary w-25"style="font-size: 12px;">Create New Order</a>
    <table class="table table-striped bg-white p-3">
        <thead>
          <tr class="text-center">
            <th  scope="col">Id </th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Address</th>
            <th scope="col">Product</th>
            <th scope="col">No. of Order</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Date Ordered</th>
            <th scope="col">Pickup Date</th>
            <th scope="col">Processed By</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for list in orders %}
              <tr class="text-center">
                <th scope="row">{{forloop.counter}}</th>
                <td>{{list.customer_name}}</td>
                <td>{{list.customer_address}}</td>
                <td>{{list.products}}</td>
                <td>{{list.no_of_order}}</td>
                <td>{{list.total_amount}}</td>
                <td>{{list.date_ordered}}</td>
                <td>{{list.pickup_date}}</td>
                <td>{{list.processed_by}}</td>
                <td>{{list.status}}</td>
                <td>
                    <a href="{% url 'orders-view' list.id %}" class="btn btn-success" style="font-size: 12px;">View</button>
                    <a href="{% url 'orders-update' list.id %}"class="btn btn-warning"style="font-size: 12px;">Update</button>
                    <a href="{% url 'orders-delete' list.id %}"class="btn btn-danger"style="font-size: 12px;">Delete</button>
                    
                </td>
              </tr>
            {% endfor %}
            </tbody>
      </table>

     </div>

</div>
{% endblock %}