{% extends 'base.html' %} {% block body %}

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
/>
<div class="container-fluid mt-2 p-4" style="font-size: 12px">
  <h2>Accounts</h2>
  <div
    class="card p-5 shadow-lg p-3 mb-5 bg-white rounded text-decoration-none"
  >
    <a
      class="btn btn-primary w-25"
      style="font-size: 12px"
      data-bs-toggle="modal"
      data-bs-target="#roleModal"
    >
      Add New Account
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-plus-lg"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
        />
      </svg>
    </a>
    <table
      class="table table-striped bg-white p-3"
      id="accountsTable"
      style="font-size: 11px"
    >
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Last Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <th scope="col">Created Date</th>
          <th scope="col">Last Logged In</th>
          <th scope="col">Role</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for list in accounts %}
        <tr class="text-center">
          <th scope="row">{{forloop.counter}}</th>
          <td>{{list.last_name|default_if_none:"Not Available"}}</td>
          <td>{{list.first_name}}</td>
          <td>{{list.email}}</td>
          <td>{{list.username}}</td>
          <td>{{list.date_joined}}</td>
          <td>{{list.last_login|default_if_none:"Not yet logged in"}}</td>
          <td>
            {% if list.is_staff %}
            <span class="badge bg-primary">Staff</span>
            {% elif list.is_admin %}
            <span class="badge bg-success">Admin</span>
            {% elif list.is_superuser %}
            <span class="badge bg-warning text-dark">Super Admin</span>
            {% else %}
            <span class="badge bg-danger">Not Available</span>
            {% endif %}
          </td>
          <td>{{list.status}}</td>
          <td colspan="5">
            <a
              href="{% url 'update-account' list.id %}"
              class="bg-warning p-1 text-white rounded"
              style="font-size: 12px"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-square"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                />
              </svg>
            </a>
            <a
              href="{% url 'delete-account' list.id %}"
              class="bg-danger p-1 text-white rounded"
              style="font-size: 12px"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="roleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select account type</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-grid gap-2 col-6 mx-auto text-center">
          <a
            href="{% url 'admin-sign-up' %}"
            class="btn btn-primary text-decoration-none"
            type="button"
            data-toggle="tooltip"
            data-placement="right"
            title="For admin accounts"
            >Admin</a
          >
          <a
            href="{% url 'staff-sign-up' %}"
            class="btn btn-warning text-decoration-none"
            type="button"
            data-toggle="tooltip"
            data-placement="right"
            title="For staff accounts"
            >Staff</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>

<script>
  $(document).ready(function () {
    $("#accountsTable").DataTable({
      lengthMenu: [
      [5, 10, 25, 50, -1],
      [5, 10, 25, 50, "All"],
    ],
    });
  });
</script>

{% endblock %}
