{% extends 'base.html' %} {% load crispy_forms_tags %} {% block body %}

<div class="container p-4">
  <div
    class="card p-5 shadow-lg p-3 mb-5 bg-white rounded"
    style="width: 60rem"
  >
  {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
    {% endif %}
    <div class="card-ttile">&nbsp; &nbsp; Update the your password below:</div>        
    <div class="card-body">
        <form method="POST">
            {% csrf_token %} {{ form|crispy }}
            <div class="mt-2" style="display: flex; align-items: center;">
              <input type="checkbox" id="show-password" onclick="showInputPassword()">
              <label for="show-password">&nbsp;Show Password</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Save</button>
            <a href="{% url "view-profile" %}" class="btn btn-secondary mt-3 text-decoration-none">Cancel </a>
          </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="path/to/your/javascript/file.js"></script>
<script type="application/javascript">
  function showInputPassword() {
    var old_password = document.getElementById("id_old_password");
    var new_password1 = document.getElementById("id_new_password1");
    var new_password2 = document.getElementById("id_new_password2");
    if (old_password.type === "password" || new_password1.type === "password" || new_password2.type === "password") {
      old_password.type = "text";
      new_password1.type = "text";
      new_password2.type = "text";
    } else {
      old_password.type = "password";
      new_password1.type = "password";
      new_password2.type = "password";
    }
  }
</script>


{% endblock %}
