{% extends 'charts.html' %} {% block body %}
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-bottom">
            <h4 class="card-title">Bar Chart</h4>
          </div>
          <div class="card-body">
            <p class="text-muted m-b-30 d-inline-block w-100">
              Create bar charts using Morris.Bar(options), where options
              is an object containing the configuration options.
            </p>
            <div id="morris-bar-example" style="height: 300px"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-bottom">
            <h4 class="card-title">Line Chart</h4>
          </div>
          <div class="card-body">
            <p class="text-muted m-b-30 d-inline-block w-100">
              The public API is terribly simple. It's just one function:
              Morris.Line (options), where options is an object containing
              some of the configuration options.
            </p>
            <div id="morris-line-example" style="height: 300px"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-bottom">
            <h4 class="card-title">Area Chart</h4>
          </div>
          <div class="card-body">
            <p class="text-muted m-b-30 d-inline-block w-100">
              Create an area chart using Morris.Area(options). Area charts
              take all the same options as line charts.
            </p>
            <div id="morris-area-example" style="height: 300px"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header border-bottom">
            <h4 class="card-title">Stacked Chart</h4>
          </div>
          <div class="card-body">
            <p class="text-muted m-b-30 d-inline-block w-100">
              This really couldn't be easier. Create a Donut chart using
              Morris.Donut(options).
            </p>
            <div id="morris-bar-stacked" style="height: 300px"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header border-bottom">
            <h4 class="card-title">Donut Chart</h4>
          </div>
          <div class="card-body">
            <p class="text-muted m-b-30 d-inline-block w-100">
              This really couldn't be easier. Create a Donut chart using
              Morris.Donut(options).
            </p>
            <div id="morris-donut-example" style="height: 300px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
