<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Product", "Sales" ],
        {% for product in total_sales_per_product %}
            ["{{product.products_id__product_name}}", {{product.total_amount__sum}}],
        {% endfor %}
      ]);

      var view = new google.visualization.DataView(data);

      var options = {
        title: "Total Sales per Products",
        height: 400,
        legend: { position: "none" },
        hAxis: {
                title: 'Products',
            },
        vAxis: {
                title: 'Sales'
            }
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("products_charts"));
      chart.draw(view, options);
  }
  </script>

<div class="icon-card mt-3">
    <div class="card-body">
      <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Total Sales per Product</p>  
      <div id="products_charts"></div>
      
    </div>
</div>