{% extends 'base.html' %}

{% block body %}
<div class="container d-flex justify-content-center">
  <div class="card p-5 shadow-lg p-3 mb-5 bg-white rounded" style="width: 60rem;">
  <a href="{% url 'category-add' %}" class="btn btn-primary w-25">Create New Category</a>
    <table class="table table-striped bg-white p-3">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Category</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for list in category %}
        <tr class="text-center">
          <th scope="row">{{list.id}}</th>
          <td>{{list.category}}</td>
          <td>
              <a href="{% url 'category-view' list.id %}" class="btn btn-success">View</button>
              <a href="{% url 'category-update' list.id %}" class="btn btn-warning">Update</button>
              <a href="{% url 'category-delete' list.id %}" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
   </div>
</div>
{% endblock %}