{% extends 'base.html' %} {% block body %}
<div class="container-fluid mt-2 p-4" style="font-size: 12px">
  <h2 style="font-size: 18px; font-weight: bold">Dashboard</h2>
      <!-- ========== title-wrapper end ========== -->
    <div class="row">
      <div class="col-sm col-md-3 col-lg-3">
        <div class="icon-card mb-30"   style="height: 200px;">
          <div class="icon success">
            <i class="lni lni-dollar"></i>
          </div>
          <div class="content">
            <p class="mb-10" style="font-size: 12px;">Total Sales
              <br>{{date}}</p>
            <p class="text-3xl   dark:text-white">
              ₱{{total_sales.total_amount__sum|default_if_none:"0"}}
          </p>
          </div>
        </div>
        <!-- End Icon Cart -->
      </div>
      <div class="col-sm col-md-3 col-lg-3">
        <div class="icon-card mb-30"   style="height: 200px;">
          <div class="icon purple">
            <i class="lni lni-cart-full"></i>
          </div>
          <div class="content">
            <p class="mb-10" style="font-size: 12px;">Total Processed Orders
              <br>{{date}}</p>
            <p class="text-3xl   dark:text-white">
                {{total_orders.no_of_order__sum|default_if_none:"0"}}
            </p>
          </div>
        </div>
        <!-- End Icon Cart -->
      </div>
      <!-- End Col -->
      <div class="col-sm col-md-3 col-lg-3">
        <div class="icon-card mb-30"   style="height: 200px;">
          <div class="icon primary">
            <i class="lni lni-credit-cards"></i>
          </div>
          <div class="content">
            <p class="mb-10" style="font-size: 12px;">Total Available Products
              <br>{{date}}</p>
            <p class="text-3xl  dark:text-white">
              {{total_products|default_if_none:"0"}}
          </p>
          </div>
        </div>
        <!-- End Icon Cart -->
      </div>
      <!-- End Col -->
      <div class="col-sm col-md-3 col-lg-3">
        <div class="icon-card mb-30"   style="height: 200px;">
          <div class="icon orange">
            <i class="lni lni-calendar"></i>
          </div>
          <div class="content">
            <p class="mb-10" style="font-size: 12px;">Total Bookings
              <br>{{date}}</p>
            <p class="text-3xl  dark:text-white">{{ total_bookings|default_if_none:"0" }}</p>
          </div>
        </div>
        <!-- End Icon Cart -->
      </div>
    </div>

      {% include "dashboard/products.html" %}
      {% include "dashboard/orders.html" %}
</div>
{% endblock %}
