{% extends 'base.html' %} {% block body %}
<section class="section">
  <div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title mb-30">
            <h2 style="font-size: 18px; font-weight: bold">Dashboard</h2>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->
    <div class="row">
      <div class="col-sm col-md-3 col-lg-3">
        <div class="icon-card mb-30"   style="height: 200px;">
          <div class="icon success">
            <i class="lni lni-dollar"></i>
          </div>
          <div class="content">
            <p class="mb-10" style="font-size: 12px;">Total Sales {{date}}</p>
            <p class="text-3xl   dark:text-white">
              ₱{{total_sales.total_amount__sum|default_if_none:"0"}}
          </p>
          </div>
        </div>
        <!-- End Icon Cart -->
      </div>
      <div class="col-sm col-md-3 col-lg-3">
        <div class="icon-card mb-30"   style="height: 200px;">
          <div class="icon purple">
            <i class="lni lni-cart-full"></i>
          </div>
          <div class="content">
            <p class="mb-10" style="font-size: 12px;">Total Processed Orders {{date}}</p>
            <p class="text-3xl   dark:text-white">
                {{total_orders.no_of_order__sum|default_if_none:"0"}}
            </p>
          </div>
        </div>
        <!-- End Icon Cart -->
      </div>
      <!-- End Col -->
      <div class="col-sm col-md-3 col-lg-3">
        <div class="icon-card mb-30"   style="height: 200px;">
          <div class="icon primary">
            <i class="lni lni-credit-cards"></i>
          </div>
          <div class="content">
            <p class="mb-10" style="font-size: 12px;">Total Available Products {{date}}</p>
            <p class="text-3xl  dark:text-white">
              {{total_products|default_if_none:"0"}}
          </p>
          </div>
        </div>
        <!-- End Icon Cart -->
      </div>
      <!-- End Col -->
      <div class="col-sm col-md-3 col-lg-3">
        <div class="icon-card mb-30"   style="height: 200px;">
          <div class="icon orange">
            <i class="lni lni-calendar"></i>
          </div>
          <div class="content">
            <p class="mb-10" style="font-size: 12px;">Total Bookings {{date}}</p>
            <p class="text-3xl  dark:text-white">{{ total_bookings|default_if_none:"0" }}</p>
          </div>
        </div>
        <!-- End Icon Cart -->
      </div>
    </div>
    <div class="dashboard-products">
      {% include "dashboard/products.html" %}
    </div>
    <div class="dashboard-orders mt-4">
      <div class="container-fluid">
      {% include "dashboard/orders.html" %}
    </div>
    <!-- End Row -->
  </div>
  <!-- end container -->
</section>
{% endblock %}
