<div class="card shadow mt-4">
    <div class="card-body">
        <table class="table table-striped">
            <ul class="nav">
                <li class="nav-item">
                  <p class="nav-link active text-muted">Top 5 Orders</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-decoration-none" href="{% url "orders-list" %}">
                        View orders
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                      </a>
                </li>
              </ul>
            <thead>
                <tr class="text-center">
                    <th  scope="col">ID </th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer Address</th>
                    <th scope="col">Product</th>
                    <th scope="col">No. of Order</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Date Ordered</th>
                    <th scope="col">Pickup Date</th>
                    <th scope="col">Processed By</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for list in orders %}
                <tr class="text-center">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{list.customer_name}}</td>
                    <td>{{list.customer_address}}</td>
                    <td>{{list.product}}</td>
                    <td>{{list.no_of_order}}</td>
                    <td>{{list.total_amount}}</td>
                    <td>{{list.date_ordered}}</td>
                    <td>{{list.pickup_date}}</td>
                    <td>{{list.processed_by}}</td>
                    <td>{{list.status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>