<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Monette's Cakes and Pastries Shop</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.4.5/dist/flowbite.min.css"
    />

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/lineicons.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/materialdesignicons.min.css' %}"
    />
    {% comment %}
    <link rel="stylesheet" href="{% static 'assets/css/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/fullcalendar.css' %}" />
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css"
    />

    {% block script %}
    {% endblock %}
  </head>


  <body style="font-family: 'Inter', sans-serif;">
    {% if user.is_authenticated %} {% include "sidenav.html" %} {% endif %}

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
      {% if user.is_authenticated %} {% include 'navbar.html' %} {% endif %}

      <!-- ========== section start ========== -->
      {% block body %} {% endblock %}
      <!-- ========== section end ========== -->

      <!-- ========== footer start =========== -->
      <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->
    <script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>

    <!-- ========= All Javascript files linkup ======== -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/dynamic-pie-chart.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    {% comment %}
    <script src="{% static 'assets/js/fullcalendar.js' %}"></script>
    {% endcomment %}
    <script src="{% static 'assets/js/jvectormap.min.js' %}"></script>
    <script src="{% static 'assets/js/world-merc.js' %}"></script>
    <script src="{% static 'assets/js/polyfill.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js" integrity="sha256-ErZ09KkZnzjpqcane4SCyyHsKAXMvID9/xwbl/Aq1pc=" crossorigin="anonymous"></script>
  </body>
</html>
