{% extends 'base.html' %} {% block body %}


<div class="container p-4">
  <a href="{% url 'products-list' %}" class="text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    Back to product list
  </a>
  <div class="row">
    <div class="col-sm col-md-6 col-lg-6">
      <div class="card shadow rounded p-3">
        {% for detail in products %}
        <div class="card-title">
            Product: {{detail.products}}
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Product Name: {{detail.product_name}}</li>
            <li class="list-group-item">Category:  {{detail.category}}</li>
            <li class="list-group-item">Price: {{detail.price}}</li>
            <li class="list-group-item">Status: {{detail.status}}</li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm col-md-6 col-lg-6"></div>
  </div>
</div>
{% endblock %}
