{% extends 'base.html' %}

{% block body %}
<div class="container p-4">
  <div class="card p-5 shadow-lg p-3 mb-5 bg-white rounded" style="width: 60rem;">
    <table class="table table-striped bg-white p-3">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            {% for list in products %}
              <tr class="text-center">
                <th scope="row">{{list.id}}</th>
                <td>{{list.product_name}}</td>
                <td>{{list.category}}</td>
                <td>{{list.price}}</td>
                <td>{{list.status}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}